
# Dependências do Node
node_modules/

# Arquivos de ambiente (variáveis sensíveis)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build (se usar algum bundler ou transpiler)
dist/
build/

# Mac OS
.DS_Store

teste.js
# Editor VSCode
.vscode/
